# use glob syntax
syntax: glob

*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
*.received.txt
*.orig
docs/guidehtml
docs/apihtml

*.iml
Debug/
Release/
obj/
**/BenchmarkDotNet.Artifacts/*
!**/BenchmarkDotNet.Artifacts/result
**/project.lock.json
tests/output/*
.vs/restore.dg
artifacts/*
BDN.Generated
BenchmarkDotNet.Samples/Properties/launchSettings.json
src/BenchmarkDotNet/Disassemblers/net461/*

# Visual Studio 2015 cache/options directory
.vs/

# Cake
tools/**
.dotnet

# Xamarin
Resource.designer.cs